.team{
    top: 160px;
    text-align: center;
}

.team h2{
    color: grey;
    font-size: 15px;
    font-weight: 500;
}
.team h1{
    font-weight: 700;
    color: black;
}
.team p{
    color: grey;
    font-size: 15px;
    font-weight: 500;
}
.team-bottom{
    display: flex;
    justify-content: center;
    gap: 60px;
    top: 40px;
}
.team-cleaner img{
    width: 300px;
    height: 400px;
}
.team-cleaner-name{
    width: 250px;
    height: 80px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    position: relative;
    top: -50px;
    left: 25px;
    padding: 12px;
}
.team-cleaner-name h2{
    font-weight: 600;
    color: black;
    top: 10px;
}
.team-cleaner-name p{
    color: grey;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

@media (max-width:900px) {
    .team h2{
        font-size: 12px;
    }
    .team p{
        font-size: 13px;
    }
    .team-bottom{
        display: block;
    }
    .team-cleaner-name{
        left: 120px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

}